//Colors
$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkViolet: hsl(255, 11%, 22%);
$veryDarkBlue: hsl(260, 8%, 14%);
$bgshorter: hsl(230, 25%, 95%);

//Typography
$font-size: 18px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: Poppins;
$weight0: 500;
$weight1: 700;

//screen
$mobile: 375px;
$desktop: 1440px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}


.nav-container {
  hr {
    transform: scale(90%);
  }

  background-color: white;

  .btn-menu {
    border: none;
    background: none;
    font-size: 20px;
    background-color: white;
  }

  a {
    color: white;
    font-family: $font-family;
    font-weight: $weight1;
    margin: 2em;
  }

  .main {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;
    background-color: white;

  }

  .nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: $darkViolet;
    top: 70px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    transform: scale(90%);
    border-radius: 20px;


  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      padding: 1em 7em;
      background-color: $cyan;
      border-radius: 30px;
    }
  }
}

.none {
  display: none;
}


.landing {
  .landing-main {
    display: flex;
    flex-direction: column;

    .section-landing {
      .btn {

        margin: 1em 3em;
        padding: 1em 2em;
        display: flex;
        justify-content: center;
      }

      h1 {
        display: flex;
        font-family: $font-family;
        justify-content: center;
        color: $veryDarkBlue;


      }

      p {
        font-size: $font-size;
        font-family: $font-family;
        text-align: center;
        color: $gray;
        margin: 0 .2em;
      }
    }


  }

  display: flex;
  flex-direction: column;

  a {
    background-color: $cyan;
    color: white;
    font-family: $font-family;
    text-align: center;
    padding: 0.5em;
    margin: 2em 8em;
    font-weight: $weight0;
    border-radius: 50px;
  }
}
.urlwrong {
  border-width: 10px;
  border-color: red;
}

.shortter {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
  background-color: $darkViolet;
  justify-content: space-between;
  border-radius: 20px;
  background-image: url("../images/bg-shorten-mobile.svg");
  text-overflow: ellipsis;
  

  .url {
    margin: 1.5em 1.5em 1em 1.5em;
    border: none;
    height: 40px;
    border-radius: 10px;

    &::placeholder {
      font-weight: $weight1;
      padding: 1em;
      color: $gray;
    }

    
  }

  .shorten {

    height: 40px;
    margin: 0em 1.2em 1em 1.2em;
    border: none;
    background: none;
    background-color: $cyan;
    border-radius: 10px;
    font-family: $font-family;
    font-weight: $weight0;
    font-size: $font-size;
    color: white;
  }
}

.result-short {
  margin: 1em 6em;
  background-color: $bgshorter;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-overflow: ellipsis;
  margin: 1em 1em;

  a {

    margin: 0;
    padding: 0;
    color: $veryDarkBlue;
    background-color: $bgshorter;
    text-align: left;
  }

  .result-btn {
    text-align: left;
    display: flex;
    flex-direction: column;

    a {
      background-color: $bgshorter;
      color: $cyan;
      margin: 1em 0;
      font-weight: $weight0;
      text-align: left;

    }

    .copiado {
      border: none;
      background-color: $veryDarkViolet;
      padding: .5em 1em;
      border-radius: 5px;
      color: white;
      font-family: $font-family;
      font-weight: $weight0;
    }

    .copiar {
      border: none;
      background: none;
      border-color: $cyan;
      background-color: $cyan;
      color: white;
      font-family: $font-family;
      font-weight: $weight0;
      padding: .5em 1em;
      border-radius: 5px;
    }
  }
}

.landing {
  .advance-container {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-family;
    color: $gray;
    padding-top: 2em;

    .advanced-statistics-items {
      .item {
        background-color: white;
        margin: 3em 1em;
        padding: 2em;
        border-radius: 10px;

        .icon-item {
          background-color: $darkViolet;
          padding: 1.5em;
          border-radius: 50%;
        }

        h3 {
          font-weight: $weight1;
          color: $veryDarkBlue;
        }

      }
    }

    .advanced-statistics {
      h2 {
        color: $veryDarkBlue;
      }

      p {
        color: $grayishViolet;
        font-weight: $weight0;
      }


    }
  }
}





.boost {
  height: 250px;
  background-color: $darkViolet;
  background-image: url(../images/bg-boost-mobile.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  h2 {
    font-family: $font-family;
    color: white;
  }

  .btn {
    padding: 1em 1em;
    background-color: $cyan;
    border-radius: 30px;
    color: white;
    font-weight: $weight1;
    font-family: $font-family;
    border: none;
    margin: 0 8em;
  }
}

footer {
  background-color: $veryDarkViolet;
  display: flex;
  flex-direction: column;
  text-align: center;

  .logo-footer {
    filter: invert(100%);
    transform: scale(30%);
  }

  h3 {
    color: white;
    font-family: $font-family;
    font-weight: $weight0;
  }

  ul {
    color: $gray;
    font-family: $font-family;
    margin: 1em 0;
  }

  li {
    text-decoration: none;
    margin: .5em 0;
  }
}

.rrss {
  display: flex;
  justify-content: center;

  img {
    padding: 1em .5em;
  }

}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }

}

@media (min-width: $desktop) {

  hr,
  .toggle {
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #nav {
    display: flex;
    justify-content: space-evenly;

  }

  .none {
    display: flex;
    flex-direction: row;

    .nav-item {
      color: $gray;

      &:hover {
        color: $veryDarkBlue
      }
    }

    .links {
      display: flex;
      flex-direction: row;

    }

    .login {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .btn {
        text-align: center;
        font-size: $font-size;
        padding: 1em 2.5em;
        border-radius: 35px;

        &:hover {
          filter: opacity(60%);
        }
      }
    }
  }

  .landing {
    .advance-container {
      .advanced-statistics-items {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        .detailed {
          transform: translateY(75px);
        }

        .fully {
          transform: translateY(150px);
        }

        .item {
          background-color: white;
          margin-bottom: 15em;
          padding: 1em;
          width: 300px;

        }
      }

      .advanced-statistics {
        display: flex;
        flex-direction: column;
        margin: 4em 0;

        p {
          margin: 0 30em;
        }


      }
    }

    .landing-main {
      margin: 0 5em;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      .oncomputer {
        text-align: center;
        max-width: 40%;
        height: auto;
      }

      .section-landing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
          &:hover {
            filter: opacity(60%);
          }
        }

        h1 {
          margin: 0;
          text-align: left;
          font-size: 60px;
        }

        p {

          text-align: left;
        }
      }
    }

  }

  .shortter {
    display: flex;
    flex-direction: row;
    margin: 1em 6em;
    padding: 2em;
    border-radius: 10px;

    .url {
      text-align: center;
      height: 54px;
      width: 72%;
      margin: 0;
      padding: 0;

      &::placeholder {
        text-align: left;
        color: $gray;
      }
    }

    .shorten {
      width: 25%;
      margin: 0;
      padding: 0em;
      align-items: center;
      height: auto;

      &:hover {
        filter: opacity(60%);
      }
    }
  }



  .result-short {
    margin: 1em 6em;
    background-color: $bgshorter;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;

    a {
      margin: 0;
      padding: 0;
      color: $veryDarkBlue;
      background-color: $bgshorter;
    }

    .result-btn {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      text-align: center;

      a {
        background-color: $bgshorter;
        color: $cyan;
        margin-right: 1em;
        font-weight: $weight0;

      }

      .copiado {
        border: none;
        background-color: $veryDarkViolet;
        padding: .5em 1em;
        border-radius: 5px;
        color: white;
        font-family: $font-family;
        font-weight: $weight0;
      }

      .copiar {
        border: none;
        background: none;
        border-color: $cyan;
        background-color: $cyan;
        color: white;
        font-family: $font-family;
        font-weight: $weight0;
        padding: .5em 1em;
        border-radius: 5px;
      }
    }
  }

  .boost {
    h2 {
      font-size: 26px;
    }

    .btn {
      margin: 0 50em;

      &:hover {
        filter: opacity(60%);
      }
    }
  }

  footer {
    display: flex;
    padding: 2em 0;
    flex-direction: row;
    justify-content: space-around;

    .company,
    .resources,
    .features {
      ul {
        text-align: start;

        li {
          text-align: start;
          text-decoration: none;

          &:hover {
            color: $cyan;
          }
        }
      }
    }

    .logo-footer {
      transform: none;
      width: 150px;
      height: 50px;
    }

    .rrss {
      margin: 0 2em;
      padding: 0;
      transform: scale(15%);

      img {
        padding: 0;
        margin: 0 2em;

        &:hover {
          color: $cyan;
        }
      }
    }
  }
}