//Colors
$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkViolet: hsl(255, 11%, 22%);
$veryDarkBlue: hsl(260, 8%, 14%);

//Typography
$font-size: 18px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: Poppins;
$weight0: 500;
$weight1: 700;

//screen
$mobile: 375px;
$desktop: 1440px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}


.nav-container{
  hr{
    transform: scale(90%);
  }
  background-color: white;
  .btn-menu{
    border: none;
    background: none;
    font-size: 20px;
    background-color: white;
  }
  a{
    color: white;
    font-family: $font-family;
    font-weight: $weight1;
    margin:2em;
  }
  
  .main{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:1.5em;
    background-color: white;

  }
  .nav{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: $darkViolet;
    top: 70px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    transform: scale(90%);
    border-radius: 20px;

    
  }
  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn{
      padding: 1em 7em 1em 7em;
      background-color: $cyan;
      border-radius: 30px;
    }
  }
}
.none{
  display: none;
}
.block{
  display: block;
}

.oncomputer{
  width: 100vh
  clip-path polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.landing{

  h1{
    display: flex;
    font-family: $font-family;
    text-align: center;
    color: $veryDarkBlue;
    margin: 0 1em 0 1em;
  }
  p{
    font-size: $font-size;
    font-family: $font-family;
    text-align: center;
    color: $gray;
  }
  display: flex;
  flex-direction: column;
  a{
    background-color: $cyan;
    color: white;
    font-family: $font-family;
    text-align: center;
    padding: 0.5em;
    margin: 2em 8em;
    font-weight: $weight0;
    border-radius: 50px;
  }
}
.shortter{
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
  background-color: $darkViolet;
  justify-content: space-between;
  border-radius: 20px;
  background-image:url("../images/bg-shorten-mobile.svg");
  
  .url{
    margin: 1.5em 1.5em 1em 1.5em;
    border: none;
    height: 40px;
    border-radius: 10px;
    &::placeholder{
      font-weight: $weight1;
      padding: 1em;
      color: $gray;
    }
  }
  .shorten{
    
    height: 40px;
    margin: 0em 1.2em 1em 1.2em;
    border: none;
    background:none;
    background-color: $cyan;
    border-radius: 10px;
    font-family: $font-family;
    font-weight: $weight0;
    font-size: $font-size;
    color: white;
  }
}
.advance-container{
  background-color: $grayishViolet;
}
.advanced-statistics{

  margin: 3em 0;
  h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
    color: $veryDarkBlue;
  }
}
.advanced-statistics-items{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  h3{
    margin-top: -0.5em;
    font-family: $font-family;
    font-weight: $weight1;
    color: $veryDarkViolet;
  }
  img{
    background-color: $darkViolet;
    border-radius: 50%;
    padding: .5em;
    margin: 1em;
  }
  .item{
    position: relative;
    background-color: white;
    padding: 1.5em;
    margin: 1em 1.5em;
    border-radius: 5px;
  }
  .icon-item{
    position: relative;
}
}
.boost{
  height: 250px;
  background-color: $darkViolet;
  background-image: url(../images/bg-boost-mobile.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  h2{
    font-family: $font-family;
    color: white;
  }
  .btn{
    padding: 1em 1em;
    background-color: $cyan;
    border-radius: 30px;
    color: white;
    font-weight: $weight1;
    font-family: $font-family;
    border: none;
    margin: 0 8em;
  }
}

footer{
  background-color: $veryDarkViolet;
  display: flex;
  flex-direction: column;
  text-align: center;
  .logo-footer{
    filter: invert(100%);
    transform: scale(30%);
  }
  h3{
    color: white;
    font-family: $font-family;
    font-weight: $weight0;
  }
  ul{
    color: $gray;
    font-family: $font-family;
    margin: 1em 0;
  }
  li{
    text-decoration: none;
    margin: .5em 0;
  }
}

.rrss{
  display: flex;
  justify-content: center;
  img{
    padding: 1em .5em;
  }

}
.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }

}